@charset "UTF-8";
/* CSS Document */

img {
	width: 100%;
	max-width: 100%;
	}
	
	/* Grid View*/
	
.col-md-3 {
	 position: relative;
	 margin-top: auto;
	}
	
	.col-md-3 h3 {
		background: rdba(255, 255, 255, .25);
		font-size: 16px;
		padding: 10px 0;
		position: absolute;
		top: 95px;
		right: 0;
		}